<% provide(:title, "Dashboard") %>
<h1>Admin Dashboard</h1>
<p>
<h3 align="center"> Auf einen Blick </h3>

<%
  Groupdate.time_zone = false

  openrequests = Request.where("status = ? OR status = ?", 0, 2).count
  nannyscount = Nanny.all.count
  clientscount = User.where(role: "client").count
  userscount = User.all.count

%>

<div>
  <div class="divcol-left">
    <h3>Aufträge & Nutzer</h3>
    <div align="center">
      <div class="dashboard-card-large">Offenen Aufträge</div>
      <div class="dashboard-card-small"><%= openrequests %></div>
    </div>
    <div align="center">
      <div class="dashboard-card-large">Angemeldete Nannys</div>
      <div class="dashboard-card-small"><%= nannyscount %></div>
    </div>
    <div align="center">
      <div class="dashboard-card-large">Angemeldete Kunden</div>
      <div class="dashboard-card-small"> <%= clientscount %></div>
    </div>
    <div align="center">
      <div class="dashboard-card-large">Nutzer insgesamt</div>
      <div class="dashboard-card-small"><%= userscount %></div>
    </div>


  </div>
  <div class="divcol-right">
    <h3>Aufträge in der letzten Woche</h3>


    <div align="center"> <%= column_chart Request.where(status: 1).group_by_day(:date, range: Time.now.midnight - 6.day..Time.now.midday - 1.day, format: "%a %d.%m").sum(1), width: "85%", height: "200px", label: "Aufträge: " %></div>
  </div>
</div>

<br>


<div>
  <div class="divcol-left">
    <h3>Aufträge in der nächsten Woche</h3>
    <div align="center"> <%= column_chart Request.where(status: 1).group_by_day(:date, range: Time.now..Time.now + 6.day, format: "%a %d.%m").sum(1), width: "85%", height: "200px", label: "Aufträge: " %></div>
  </div>
  <div class="divcol-right">

    <h3>Umsätze</h3>
    <div align="center">
      <div class="dashboard-card-large">Heute</div>
      <div class="dashboard-card-small"><%= Request.where(status: 1, date: Date.today).sum(5) %> €</div>
    </div>
    <div align="center">
      <div class="dashboard-card-large">Letzter Monat</div>
      <div class="dashboard-card-small"><%= Request.where(status: 1, date: (Time.now.midnight - 1.month)..Time.now).sum(5) %>
        €
      </div>
    </div>
    <div align="center">
      <div class="dashboard-card-large">Erwartet</div>
      <div class="dashboard-card-small"> <%= Request.where(status: 1, date: Time.now..(Time.now + 100.year)).sum(5) %>
        €
      </div>
    </div>
    <div align="center">
      <div class="dashboard-card-large">Gesamt</div>
      <div class="dashboard-card-small"><%= Request.where(status: 1).sum(5) %> €</div>
    </div>

  </div>
</div>

<br>



<div style="height: 650px"></div>







<div class="dashboarddiv" align="center">
  <h3 align="center"> Anzahl der Anfragen pro Tag des letzten Monats </h3>

  <%= area_chart Request.group_by_day(:date, range: Time.now.midnight - 1.month..Time.now.midday, format: "%d.%m").sum(1), width: "85%", ytitle: "Anfragen pro Tag" %>
</div>

<br>
<br>


<div class="dashboarddiv" align="center">
  <h3 align="center"> Umsatz der letzten 14 Tage </h3>

  <%= area_chart Request.where(status: 1).group_by_day(:date, range: Time.now.midnight - 14.day..Time.now.midday, format: "%a %d.%m ").sum(5), width: "85%", label: "Umsatz in €", ytitle: "Umsatz in €" %>
</div>

<br>
<br>

<div class="dashboarddiv" align="center">
  <h3 align="center"> Umsatz der letzten 12 Wochen </h3>
  <%= column_chart Request.where(status: 1).group_by_week(:date, range: Time.now.midnight - 12.week..Time.now.midday, format: "KW %V %y ").sum(5), width: "85%", label: "Umsatz in €", ytitle: "Umsatz in €" %>
</div>

<br>
<br>


<div class="dashboarddiv" align="center">
  <h3 align="center"> Aufträge pro Woche nach Nannys </h3>
  <h4 align="center"></h4>

  <%= line_chart Request.where(status: 1).group(:assigned_nanny).group_by_week(:date, range: Time.now.midnight - 12.week..Time.now.midday, format: "KW %V %y").count, width: "85%", height: "400px", label: "Aufträge: ", ytitle: "Aufträge pro Woche" %>
</div>

<br>
<br>


<div class="dashboarddiv" align="center">
  <h3 align="center"> Vergleich der Aufträge </h3>
  <h4 align="center"> Zwischen erfolgreich zugeordneten (blau bzw. 1) und nicht zugeordneten (rot, bzw. 3)
    Aufträgen. </h4>

  <%= column_chart Request.group(:status).group_by_day(:date, range: Time.now.midnight - 2.week..Time.now.midnight - 1, format: "%d.%m").count, width: "85%", height: "400px", ytitle: "Aufträge pro Tag", stacked: true %>
</div>



</p>
