<% provide(:title, "Optimierung") %>
<h1>Optimierung</h1>
<p>
<h3 align="center"> Übersicht </h3>

<%
  openrequests = Request.where("status = ? OR status = ?", 0, 2).count
  nosolutionrequests = Request.where(status: 2).count
  newrequests = Request.where(status: 0).count

  nannyscount = Nanny.all.count
  clientscount = User.where(role: "nanny").count
  userscount = User.all.count

%>



<div align="center">
  <div class="dashboard-card-large">Offenen Aufträge insgesamt</div>
  <div class="dashboard-card-small"><%= openrequests %></div>
</div>
<div align="center">
  <div class="dashboard-card-large">Neue Aufträge</div>
  <div class="dashboard-card-small"><%= newrequests %></div>
</div>
<div align="center">
  <div class="dashboard-card-large">Bisher ohne Lösung</div>
  <div class="dashboard-card-small"><%= nosolutionrequests %></div>
</div>

<br>
<br>

<h4 align="center">  <%= link_to "Optimieren", optimize_path, class: "adminbigbutton hvr-back-pulse" %>

  <%= link_to "Ergebnisse übertragen", read_solution_path, class: "adminbigbutton hvr-back-pulse" %></h4>

<br>
<br>
<h3 align="center"> GAMS-Pfad Einstellungen </h3>

<% @gams = Option.find(1)

   if @gams == nil

     @gams = Option.create(id: 1, optionname: "gamspath", value: "Hier Pfad eingeben..")

   end
%>

<%= bootstrap_form_for(@gams, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-6") do |f| %>
    <%= f.text_field :value, label: "GAMS-Pfad", label_class: "labeltext" %>
    <%= f.form_group do %>
        <h4 align="center"> <%= f.submit "Speichern", class: "homebutton hvr-back-pulse-own" %></h4>
        <h2>Bei MacOS meist im Format von:</h2>
        <h4 style="margin-top: -16px;">/Applications/GAMS24.7/sysdir/gams</h4>

        <h2>Bei Windows meist im Format von:</h2>
        <h4 style="margin-top: -16px;">C:\\GAMS\\win64\\24.5\\gams</h4>
    <% end %>

<% end %>

<h4><%= link_to "GAMS Testen", {:controller => "options", :action => "gamstest"}, class: 'homebutton hvr-back-pulse-own' %></h4>






<% $i = 0
   $num = 7

   begin
     currentnewdate = Date.today + $i

     @nannies = Nanny.all
     @nannies.each do |nan|
     nannyname = nan.name
     nannydate = Availability.find_by_sql("SELECT * FROM availabilities WHERE (nannyname = '#{nannyname}' AND date = '#{currentnewdate}')")

     if nannydate.any? == false
     @availabilities = Availability.create!(nannyname: nannyname, date: currentnewdate, morning: false, noon: false, afternoon: false, evening: false)
     end

      end
     $i +=1

   end while $i < $num

   # Prüfen welche Verfügbarkeiten in der Vergangenheit liegen und diese löschen
   @allavas = Availability.all
   @allavas.each do |ava|

     if ava.date.to_date.past?
       ava.delete
     else

     end
   end


%>