<% provide(:title, "Anleitung") %>
<h1>Hilfe</h1>
<h4>

  Folgende Beispielaccounts können genutzt werden:
  <br>
  Nanny: nanny@test.com -> pw: foobar
  <br>
  Kunde: client@test.com -> pw: foobar
  <br>
  Admin: admin@test.com -> pw: foobar

</h4>

<h2>
  Um die Optimierung als Admin nutzen zu können, sollte zunächst der GAMS-Pfad eingetragen werden. Dies geschieht ebennfalls auf der Optimierungsseite.
</h2>