<% provide(:title, "Home") %>

<div class="bg"></div>
<div class="center jumbotron">
  <h1>Emergency Nanny</h1>

  <h3>
    Ihre Kinder in <b>guten</b> Händen.
  </h3>

  <%= link_to "Ich bin eine Nanny", newnanny_path, class: "homebutton hvr-fade" %>

  <%= link_to "Ich suche eine Nanny", signup_path, class: "homebutton hvr-fade" %>
</div>


<div class="bg2"></div>

<div class="center jumbotron2">

<!-- Services -->
<div >
  <h1 class="row-title">Unsere Services</h1>
  <div class="col-md-4 feature">
    <span class="glyphicon glyphicon-star"></span>
    <h3>Qualifizierte Nannys</h3>
    <p>Hohe Ansprüche? Kein Problem! Bei jeder Anfrage kannst du deine individuellen Anforderungen angeben. </p>
  </div>
  <div class="col-md-4 feature">
    <span class="glyphicon glyphicon-bullhorn"></span>
    <h3>Benutzerfreundlich</h3>
    <p>EmergencyNanny funktioniert sehr simpel. Also: Account erstellen und einfach loslegen!</p>
  </div>
  <div class="col-md-4 feature">
    <span class="glyphicon glyphicon-dashboard"></span>
    <h3>Schnelle Zuordnung</h3>
    <p>Erhalte deine optimale Nanny in kurzer Zeit. Wir ordnen neue Aufträge mehrmal täglich zu!</p>
  </div>
</div>
</div>


<!-- Team -->

<div class="bg3"></div>
<div class="center jumbotron3">
<div class="row me-row content-ct">
  <h1 class="row-title">Das Team hinter EmergencyNanny</h1>
  <div class="col-md-6 feature">
    <img src="https://cdn2.iconfinder.com/data/icons/rcons-user/32/male-circle-512.png" style="height: 80px;width: auto;"> </img>
    <h3>B. Sc. Patrick Czerwinski</h3>
    <p style="color: #a8a8a8">Master Student in Wirtschaftswissenschaften an der Leibniz Universität Hannover. Spezialisiert auf Mobile Applikation und Design. </p>
  </div>
  <div class="col-md-6 feature">
    <img src="https://cdn2.iconfinder.com/data/icons/rcons-user/32/male-circle-512.png" style="height: 80px;width: auto;"> </img>
    <h3>B. Sc. Sebastian Gebski</h3>
    <p style="color: #a8a8a8">Master Student in Wirtschaftswissenschaften an der Leibniz Universität Hannover. Spezialisiert auf Optimierungsmodelle und Digital Behaviour. </p>
  </div>

</div>
</div>

<!-- Registrieren -->
<div class="container-fluid tickets" id="tickets">
  <div class="row me-row content-ct">
    <a id="registernow"></a>

    <h1 class="row-title">Jetzt registrieren</h1>
    <div class="col-md-4 col-sm-6 col-md-offset-2">
      <h3 class="price">Ich bin eine Nanny</h3>
      <a href="/newnanny" class="homebutton hvr-back-pulse-own">Anmelden</a>
    </div>
    <div class="col-md-4 col-sm-6">
      <h3 class="price">Ich suche eine Nanny</h3>
      <a href="/signup" class="homebutton hvr-back-pulse-own">Anmelden</a>
    </div>
  </div>
</div>

<div style="margin-bottom: 150px;"></div>

<script>
  var jumboHeight = $('.jumbotron').outerHeight();
  function parallax(){
    var scrolled = $(window).scrollTop();
    $('.bg').css('height', (jumboHeight-scrolled) + 'px');
  }

  $(window).scroll(function(e){
    parallax();
  });

</script>

