<% provide(:title, "Simulator") %>
<h1>Simulator</h1>
<p>

  <%
    openrequests = Request.where("status = ? OR status = ?", 0, 2).count
    nosolutionrequests = Request.where(status: 2).count
    newrequests = Request.where(status: 0).count

    nannyscount = Nanny.all.count
    clientscount = User.where(role: "client").count
    userscount = User.all.count

  %>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <h3>Aufträge</h3>
    <div align="center">
      <div class="dashboard-card-large">Offenen Aufträge insgesamt</div>
      <div class="dashboard-card-small"><%= openrequests %></div>
    </div>
    <div align="center">
      <div class="dashboard-card-large">Neue Aufträge</div>
      <div class="dashboard-card-small"><%= newrequests %></div>
    </div>
    <div align="center">
      <div class="dashboard-card-large">Bisher ohne Lösung</div>
      <div class="dashboard-card-small"><%= nosolutionrequests %></div>
    </div>

  </div>
  <div class="col-md-4">
    <h3>Nutzer</h3>
    <div align="center">
      <div class="dashboard-card-large">Nutzer insgesamt</div>
      <div class="dashboard-card-small"><%= userscount %></div>
    </div>
    <div align="center">
      <div class="dashboard-card-large">Nannys</div>
      <div class="dashboard-card-small"><%= nannyscount %></div>
    </div>
    <div align="center">
      <div class="dashboard-card-large">Kunden</div>
      <div class="dashboard-card-small"><%= clientscount %></div>
    </div>
  </div>
</div>

<br>
<br>

<h5 align="center">Einzelne Einträge generieren</h5>
<br>

<h4 align="center">
  <%= link_to "Zufällige Anfrage generieren", randomrequest_path, class: "adminsmallbutton hvr-back-pulse" %>
  <%= link_to "Vergangenen Auftrag generieren", randompast_path, class: "adminsmallbutton hvr-back-pulse" %>
</h4><h4 align="center">
  <%= link_to "Zufälligen Kunden generieren", randomclient_path, class: "adminsmallbutton hvr-back-pulse" %>
  <%= link_to "Zufällige Nanny generieren", randomnanny_path, class: "adminsmallbutton hvr-back-pulse" %>

</h4>

<br>
<h5 align="center">Mehrere Einträge generieren</h5>
<br>

<h4 align="center">  <%= link_to "10 Anfragen generieren", tenrandomrequests_path, class: "adminsmallbutton hvr-back-pulse" %>
  <%= link_to "10 vergangene Anfragen generieren", tenrandompasts_path, class: "adminsmallbutton hvr-back-pulse" %></h4>




