<%= bootstrap_form_for(@nanny, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-6") do |f| %>


    <% if admin? == false %>
        <%= f.hidden_field :name, icon: "user", label: "Name", value: current_user.name, label_class: "labeltext-light" %>

        <% if @nanny.rating = 0
           else %>
            <%= f.hidden_field :rating, icon: "user", label: "Rating", value: 0, label_class: "labeltext-light" %>
        <% end %>

    <% end %>

    <%= f.form_group :sex, label: {text: "Geschlecht:", class: "labeltext"} do %>
        <%= f.radio_button :sex, "w", label: "Weiblich", inline: true, label_class: "labeltext-light" %>
        <%= f.radio_button :sex, "m", label: "Männlich", inline: true, label_class: "labeltext-light" %>
        <%= f.radio_button :sex, "egal", label: "Keine Angabe", inline: true, label_class: "labeltext-light" %>

    <% end %>
    <br>

    <%= f.number_field :price, icon: "road", label: "Preis*", label_class: "labeltext", required: true %>
    <%= f.number_field :age, icon: "map-marker", label: "Alter", label_class: "labeltext" %>


    <%= f.form_group do %>

        <h5> Sonstiges: </h5>
        <%= f.check_box :education, icon: "road", label: "Ausbildung", label_class: "labeltext-light" %>
        <%= f.check_box :driverlicense, icon: "map-marker", label: "Führerschein", value: 'nanny', label_class: "labeltext-light" %>
        <br>
        <h5> Sprachkenntnisse: </h5>

        <%= f.check_box :language_german, icon: "road", label: "Deutsch", label_class: "labeltext-light" %>
        <%= f.check_box :language_spanish, icon: "road", label: "Spanisch", label_class: "labeltext-light" %>
        <%= f.check_box :language_polish, icon: "road", label: "Polnisch", label_class: "labeltext-light" %>
        <%= f.check_box :language_english, icon: "road", label: "Englisch", label_class: "labeltext-light" %>
    <% end %>
    <br>

    <%= f.form_group do %>
        <h4 align="center"> <%= f.submit "Bestätigen", class: "homebutton hvr-back-pulse-own" %></h4>
        <h4>Pflichtfelder sind mit einem * markiert.</h4>

    <% end %>

<% end %>