<% provide(:title, 'Nanny-Daten bearbeiten') %>

<% if nanny? %>
<h1>Meine Nanny-Daten</h1>
    <% else %>
    <h1>Nanny-Daten von <%= @nanny.name %></h1>
    <% end %>

    <%= render 'form' %>

<div align="center">
<%= link_to "Zurück", :back, class: "reqcard-grey hvr-fade" %>
</div>