<% provide(:title, 'Nannys') %>

<h1>Alle Nannies</h1>

<br>

<!-- Überschriften -->
<div align="center">
  <div class="avacard-head hvr-fade-own ">Name</div>
  <div class="avacard-head hvr-fade-own">Bewertung</div>

  <div class="avacard-head-medium hvr-fade-own"></div>
  <div class="avacard-head-medium hvr-fade-own"></div>
  <div class="avacard-head-medium hvr-fade-own"></div>
  <div class="avacard-head-medium hvr-fade-own"></div>

  <br>

  <% @nannies.reorder(:date) %>
  <% @nannies.each do |nanny| %>
      <div id="nannyname" class="avacard hvr-fade-own"><%= nanny.name %></div>
      <div id="rating" class="avacard hvr-fade-own"><%= nanny.rating %></div>
      <%= link_to "Verfügbarkeiten", {:controller => "availabilities", :action => "index", :nannyname => nanny.name}, class: 'avacard-medium hvr-back-pulse-own' %>

      <%= link_to 'Anzeigen', nanny, class: 'avacard-medium hvr-back-pulse-own' %>
      <%= link_to 'Bearbeiten', edit_nanny_path(nanny), class: 'avacard-medium hvr-back-pulse-own' %>
      <%= link_to 'Löschen', nanny, method: :delete, class: 'avacard-medium hvr-back-pulse-own', data: {confirm: 'Willst du dir Nanny wirklich löschen?'} %>
      <br>

  <% end %>
</div>

