<% provide(:title, @nanny.name) %>

<div align="center" class="centeredtable">

  <h1><%= @nanny.name %></h1>
  <br>

  <% @user = User.find_by_name(@nanny.name) %>

  <div class="centeredtable"><%= gravatar_for @user %></div>
  <br>
  <!-- Sterne Bewertung Anzeigen -->

  <% @currentnanny = @nanny %>

  <%
    numberofstars = @currentnanny.rating.to_i

    (1..numberofstars).each do |n| %>

      <span class="glyphicon glyphicon-star"></span>

  <% end

     numberofemptystars = 5 - numberofstars
     (1..numberofemptystars).each do |n| %>

      <span class="glyphicon glyphicon-star-empty"></span>

  <% end %>
  <br>
  <br>
  <br>
  <div class="profilcard">Preis</div>
  <div class="profilcard"><%= @currentnanny.price.to_s + "0 €" %></div>
  <br>
  <div class="profilcard">Geschlecht</div>
  <div class="profilcard">
    <% if @currentnanny.sex == "w" %> Weiblich
    <% else
         if @currentnanny.sex == "m" %> Männlich
        <% else
             @currentnanny.sex == "egal" %> Keine Angaben
        <% end end %></div>
  <br>
  <div class="profilcard">Alter</div>
  <div class="profilcard"><%= @currentnanny.age %></div>
  <br>
  <div class="profilcard">Ausbildung</div>
  <div class="profilcard">
    <% if @currentnanny.education == true %> Ja
    <% else %> Nein
    <% end %></div>
  <br>
  <div class="profilcard">Führerschein</div>
  <div class="profilcard">
    <% if @currentnanny.driverlicense == true %> Ja
    <% else %> Nein
    <% end %></div>
  <br>
  <div class="profilcard">Deutsch-Kenntnisse</div>
  <div class="profilcard">
    <% if @currentnanny.language_german == true %> Ja
    <% else %> Nein
    <% end %></div>
  <br>
  <div class="profilcard">Englisch-Kenntnisse</div>
  <div class="profilcard">
    <% if @currentnanny.language_english == true %> Ja
    <% else %> Nein
    <% end %></div>
  <br>
  <div class="profilcard">Spanisch-Kenntnisse</div>
  <div class="profilcard">
    <% if @currentnanny.language_spanish == true %> Ja
    <% else %> Nein
    <% end %></div>
  <br>
  <div class="profilcard">Polnisch-Kenntnisse</div>
  <div class="profilcard">
    <% if @currentnanny.language_polish == true %> Ja
    <% else %> Nein
    <% end %></div>
  <br>
</div>

<br>
<div align="center"><%= link_to "Zurück", :back, class: "reqcard-grey hvr-fade" %></div>