<% provide(:title, "Log in") %>
<h1>Log in</h1>

    <%= bootstrap_form_for(:session, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-6") do |f| %>

        <%= f.email_field :email,label: "Email", label_class: 'labeltext' %>

        <%= f.password_field :password, label_class: 'labeltext' %>

        <%= f.form_group do %>
        <h4 align="center"> <%= f.submit "Log in", class:"homebutton hvr-back-pulse-own" %></h4>
        <% end %>

    <% end %>

    <h4>  <%= link_to "Noch kein Account?", root_path(anchor: 'registernow'), class:"labeltext-light" %></h4>

