<li>
  <%= gravatar_for client, size: 50 %>
  <%= link_to client.name, client %>
  <% if current_user.role = "admin" && !current_user?(user) %>
      <% @client = user %> | <%= link_to 'Löschen', @client, method: :delete , data: { confirm: 'Willst du dir Nanny wirklich löschen?' }  %>

<% end %>

</li>
