<li >
   <%= gravatar_for user, size: 50 %>

  <%= link_to user.name, user %>
  <% if current_user.role = "admin" && !current_user?(user) %>
      <% @user = user %>|<%= link_to 'Löschen', @user, method: :delete , data: { confirm: 'Willst du diesen Eintrag wirklich löschen?' }  %>
      <% if @client == true %>
      <a id="requestscount"> | Gesamt Aufträge: <%= Request.where(name: @user.name).count %> </a>
<% end %>
<% end %>

</li>
