<% provide(:title, "Daten bearbeiten") %>
<h1>Daten bearbeiten</h1>

  <div align="center" >
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <br>
      <a href="http://gravatar.com/emails" target="_blank" style="margin-left: 5px; ">  Auf Gravatar.com ändern</a>
    </div>
  </div>

<%= bootstrap_form_for(@user, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-6") do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.email_field :email, icon: "envelope", label: "Email", label_class: "labeltext", required: true%>
    <%= f.text_field :city, icon: "map-marker", label: "Stadt", label_class: "labeltext" %>
    <%= f.text_field :street, icon: "road", label: "Straße und Hausnummer", label_class: "labeltext" %>
    <%= f.password_field :password, icon: "lock", label: "Passwort", label_class: "labeltext" %>
    <%= f.password_field :password_confirmation, icon: "ok-circle", label: "Passwort bestätigen", label_class: "labeltext" %>

    <%= f.form_group do %>
        <h4 align="center"> <%= f.submit "Bestätigen", class:"homebutton hvr-back-pulse-own" %></h4>
    <% end %>

<% end %>

