<% provide(:title, 'Registrieren') %>
<h1>Als neue Nanny registrieren</h1>

<%= bootstrap_form_for(@user, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-6") do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.text_field :name, icon: "user", label: "Nutzername*", required: true, label_class: "labeltext", help: "Darf keine Leerzeichen und Sonderzeiche enthalten." %>
    <%= f.email_field :email, icon: "envelope", label: "Email*", required: true, label_class: "labeltext"%>

    <%= f.text_field :fullname, icon: "user", label: "Vor- und Nachname", label_class: "labeltext"%>


    <%= f.text_field :city, icon: "map-marker", label: "Stadt", label_class: "labeltext" %>
    <%= f.text_field :street, icon: "road", label: "Straße und Hausnummer", label_class: "labeltext" %>
    <%= f.password_field :password, icon: "lock", label: "Passwort*", required: true, label_class: "labeltext" %>
    <%= f.password_field :password_confirmation, icon: "ok-circle", label: "Passwort bestätigen*", required: true, label_class: "labeltext" %>
    <%= f.hidden_field :role, icon: "map-marker", label: "Rolle", value: 'nanny' %>


    <%= f.form_group do %>
        <h4 align="center"> <%= f.submit "Bestätigen", class:"homebutton hvr-back-pulse-own" %></h4>
        <h4>Pflichtfelder sind mit einem * markiert.</h4>

    <% end %>

<% end %>

