<% provide(:title, @user.name) %>

<div align="center" class="centeredtable">
  <%
    # Wenn man sein eigenes Profil anschaut soll "Mein Profil" stehen, sonst der Name
    if @user == current_user %>
      <h1>Mein Profil</h1>
  <% else %>
      <h1><%= @user.name %></h1>

  <% end %>

  <div class="centeredtable"><%= gravatar_for @user %></div>
  <br>
  <br>


  <h3>Allgemeine Daten</h3>

  <div class="profilcard">Nutzername</div>
  <div class="profilcard"><%= @user.name %></div>
  <br>
  <div class="profilcard">Vor- und Nachname</div>
  <div class="profilcard"><%= @user.fullname %></div>
  <br>
  <div class="profilcard">Stadt</div>
  <div class="profilcard"><%= @user.city %></div>
  <br>
  <div class="profilcard">Straße</div>
  <div class="profilcard"><%= @user.street %></div>
  <br>
  <div class="profilcard">Kontotyp</div>
  <div class="profilcard"><%= @user.role %></div>
  <br>
  <br>

  <% anycurrentnanny = Nanny.where(name: current_user.name)

    if nanny? and anycurrentnanny.any? == true %>


      <h3>Nanny Daten</h3>

      <!-- Sterne Bewertung Anzeigen -->

      <% @currentnanny = Nanny.find_by_name(current_user.name) %>

      <%
        numberofstars = @currentnanny.rating.to_i

        (1..numberofstars).each do |n| %>

          <span class="glyphicon glyphicon-star"></span>

      <% end

         numberofemptystars = 5 - numberofstars
         (1..numberofemptystars).each do |n| %>

          <span class="glyphicon glyphicon-star-empty"></span>

      <% end %>

      <br>
      <br>


      <div class="profilcard">Preis</div>
      <div class="profilcard"><%= @currentnanny.price.to_s + " €" %></div>
      <br>
      <div class="profilcard">Geschlecht</div>
      <div class="profilcard">
        <% if @currentnanny.sex == "w" %> Weiblich
        <% else
             if @currentnanny.sex == "m" %> Männlich
            <% else
                 @currentnanny.sex == "egal" %> Keine Angaben
            <% end end %></div>
      <br>
      <div class="profilcard">Alter</div>
      <div class="profilcard"><%= @currentnanny.age %></div>
      <br>
      <div class="profilcard">Ausbildung</div>
      <div class="profilcard">
        <% if @currentnanny.education == true %> Ja
        <% else %> Nein
        <% end %></div>
      <br>
      <div class="profilcard">Führerschein</div>
      <div class="profilcard">
        <% if @currentnanny.driverlicense == true %> Ja
        <% else %> Nein
        <% end %></div>
      <br>
      <div class="profilcard">Deutsch-Kenntnisse</div>
      <div class="profilcard">
        <% if @currentnanny.language_german == true %> Ja
        <% else %> Nein
        <% end %></div>
      <br>
      <div class="profilcard">Englisch-Kenntnisse</div>
      <div class="profilcard">
        <% if @currentnanny.language_english == true %> Ja
        <% else %> Nein
        <% end %></div>
      <br>
      <div class="profilcard">Spanisch-Kenntnisse</div>
      <div class="profilcard">
        <% if @currentnanny.language_spanish == true %> Ja
        <% else %> Nein
        <% end %></div>
      <br>
      <div class="profilcard">Polnisch-Kenntnisse</div>
      <div class="profilcard">
        <% if @currentnanny.language_polish == true %> Ja
        <% else %> Nein
        <% end %></div>
      <br>
      <br>
      <h5>Nanny-Daten löschen?</h5>
      <%= link_to 'Löschen', @currentnanny, method: :delete, class: 'avacard-medium hvr-back-pulse-own', data: {confirm: 'Willst du die Nanny-Daten wirklich löschen?'} %>


  <% end %>
  <br>
  <br>
  <h5>Account löschen?</h5>

  <%= link_to 'Löschen', @user, method: :delete, class: 'avacard-medium hvr-back-pulse-own', data: {confirm: 'Willst du dir Nanny wirklich löschen?'} %>

  <br>

</div>
