<%= bootstrap_form_for(@request, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-6") do |f| %>

    <br>
    <h3 align="center"> Datum und Zeitraum </h3>

    <br>

    <% if admin? == false %>
        <%= f.hidden_field :name, label: "Name", value: current_user.name %>

    <% else %>
        <%= f.collection_select :name, User.where(role: "client"), :name, :name, label_class: "labeltext", label: "Nutzername" %>
    <% end %>

    <%= f.hidden_field :status, label: "Status", value: 0 %>

    <%

      # Hier wird ein Array mit den möglichen Daten erstellt

      $i = 0
      $num = 7
      datearray = Array.new

      while $i < $num do

        date = Date.today + $i

        datearray.push(date)

        $i +=1

      end
    %>

    <%= f.select :date, datearray, {label: "Datum*", label_class: "labeltext"}, {class: "selectpicker"} %>
    <%= f.form_group :time, label: {text: "Zeit*", class: "labeltext", required: true} do %>
        <%= f.radio_button :time, "morning", label: "Morgens", label_class: "labeltext-light", inline: true %>
        <%= f.radio_button :time, "noon", label: "Mittags", label_class: "labeltext-light", inline: true %>
        <%= f.radio_button :time, "afternoon", label: "Nachmittags", label_class: "labeltext-light", inline: true %>
        <%= f.radio_button :time, "evening", label: "Abends", label_class: "labeltext-light", inline: true %>

    <% end %>
    <br>
    <br>
    <h3> Anforderungen an die Nanny </h3>
    <br>
    <%= f.number_field :willingness_to_pay, label: "Maximaler Preis", label_class: "labeltext" %>
    <%= f.number_field :minage, label: "Mindestalter", label_class: "labeltext" %>
    <%= f.number_field :maxage, label: "Maximalalter", label_class: "labeltext" %>
    <%= f.form_group :sex, label: {text: "Geschlecht:", class: "labeltext"} do %>
        <%= f.radio_button :sex, "m", label: "Männlich", inline: true, label_class: "labeltext-light" %>
        <%= f.radio_button :sex, "w", label: "Weiblich", inline: true, label_class: "labeltext-light" %>
        <%= f.radio_button :sex, "egal", label: "Egal", inline: true, label_class: "labeltext-light" %>
    <% end %>
    <br>

    <%= f.select :rating, [["egal", 0], [1], [2], [3], [4], [5]], {label: "Mindestbewertung", label_class: "labeltext"}, {class: "selectpicker"} %>


    <%= f.form_group do %>

        <h5> Sprachkenntnisse: </h5>

        <%= f.check_box :language_german, icon: "road", label: "Deutsch", label_class: "labeltext-light" %>
        <%= f.check_box :language_spanish, icon: "road", label: "Spanisch", label_class: "labeltext-light" %>
        <%= f.check_box :language_polish, icon: "road", label: "Polnisch", label_class: "labeltext-light" %>
        <%= f.check_box :language_english, icon: "road", label: "Englisch", label_class: "labeltext-light" %>
        <br>

        <h5> Sonstiges: </h5>
        <%= f.check_box :education, label: "Ausbildung", label_class: "labeltext-light" %>
        <%= f.check_box :driverlicense, label: "Führerschein", label_class: "labeltext-light" %>
        <br>

    <% end %>

    <br>

    <%= f.form_group do %>
        <h4 align="center"> <%= f.submit "Abschicken", class: "homebutton hvr-back-pulse-own" %></h4>
        <h4>Pflichtfelder sind mit einem * markiert.</h4>

    <% end %>

<% end %>





