<% provide(:title, 'Aufträge') %>

<script>
  $('.datatable').DataTable({});
</script>

<h1>Aufträge</h1>

<div align="center">
  <%= link_to "Datatables-View öffnen", requestsdatatable_path, class: 'reqcard-grey hvr-back-pulse-own' %>
  <br>
  <br>
  <%= link_to "Nur vergangene Aufträge", {:controller => "requests", :action => "index", :whichview => "onlyold"}, class: 'reqcard-grey hvr-back-pulse-own' %>
  <%= link_to "Letzte Woche", {:controller => "requests", :action => "index", :whichview => "lastweek"}, class: 'reqcard-grey hvr-back-pulse-own' %>

  <%= link_to "Nur neue Aufträge ", {:controller => "requests", :action => "index", :whichview => "onlynew"}, class: 'reqcard-grey hvr-back-pulse-own' %>
  <%= link_to "Alle Aufträge", {:controller => "requests", :action => "index", :whichview => "all"}, class: 'reqcard-grey hvr-back-pulse-own' %>
</div>
<!-- Tabelle -->

<br>

<!-- Überschriften -->
<div align="center">
  <div class="avacard-head">Kunden-Name</div>
  <div class="avacard-head">Datum</div>
  <div class="avacard-head-medium">Zeit</div>

  <% if client? or admin? %>
      <div class="avacard-head">Zugeordnete Nanny</div>
      <div class="avacard-head-small">Status</div>
      <div class="avacard-head-medium"></div>
      <div class="avacard-head-medium"></div>
      <div class="avacard-head-medium"></div>

  <% else %>
      <div class="avacard-head-medium"></div>

  <% end %>

  <br>

  <% @requests.each do |request| %>

      <div id="requestname" class="avacard"><%= request.name %></div>
      <div id="weekday" class="avacard">

        <%= week_day = request.date.to_date.wday # Returns the day of week (0-6, Sunday is zero)
            I18n.t('date.day_names')[week_day]
        %>
        <%
          # Datum "übersetzen"
          date = request.date
          datesplitted = date.split("-")
          year = datesplitted[0]
          month = datesplitted[1]
          day = datesplitted[2]

          thedate = day + "." + month + "." + year

          # Zeit übersetzen

          time = request.time

          if time == "morning"
            germantime = "Morgens"
          elsif time == "noon"
            germantime = "Mittags"
          elsif time == "afternoon"
            germantime = "Nachmittags"
          elsif time == "evening"
            germantime = "Abends"
          end
        %>
        <%= thedate %>
      </div>

      <div id="time" class="avacard-medium"><%= germantime %></div>

      <% # Anzeige wenn role = client %>

      <% if client? or admin? %>
          <div id="assignednanny" class="avacard"><%= request.assigned_nanny %></div>

          <% if request.status == 1 %>
              <div class="avacard-true">Zugeordnet</div>
          <% elsif request.status == 2 %>
              <div class="avacard-yellow">Ausstehend</div>
          <% elsif request.status == 3 %>
              <div class="avacard-false">Vergangen</div>
          <% else %>
              <div class="avacard-yellow">Neu</div>

          <% end %>

          <%= link_to 'Anzeigen', request, class: 'avacard-medium hvr-back-pulse-own' %>

          <% if request.assigned_nanny == nil %>
              <%= link_to 'Bearbeiten', edit_request_path(request), class: 'avacard-medium hvr-back-pulse-own' %>
              <%= link_to 'Löschen', request, method: :delete, class: 'avacard-medium hvr-back-pulse-own', data: {confirm: 'Willst du den Auftrag wirklich löschen?'} %>
          <%

            else
              # Wenn das Datum in der Vergangenheit liegt, erscheint ein Button zum Bewerten der Nanny.
              if client? or admin? and request.date.to_date.past? == true and request.ratingdone != true and request.status==1 %>
                  <%= link_to 'Nanny bewerten', request, class: 'avacard-medium hvr-back-pulse-own' %>
                  <div class="avacard-medium"></div>

              <% else %>

                  <div class="avacard-medium"></div>
                  <div class="avacard-medium"></div>
              <% end %>
          <% end %>
      <% else %>
          <%= link_to 'Anzeigen', request, class: 'avacard-medium' %>

      <% end %>
      <br>
  <% end %>
  <br>

</div>

