<script>
  console.log( jQuery.fn.dataTable );
  $(document).ready(function() {
    $('.datatable').dataTable();
  });
</script>

<% provide(:title, "Aufträge") %>
<h1>Aufträge (Datatable-View)</h1>


<table id="requests" class="display">
  <thead>
  <tr>
    <th>Kundenname</th>
    <th>Datum</th>
    <th>Zugeordnete Nanny</th>
    <th>Zeit</th>
    <th>Status</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @requests.each do |distances| %>
      <tr>
        <td><%= distances.name %></td>
        <td><%= distances.date %></td>
        <td><%= distances.assigned_nanny %></td>
        <td><%= distances.time %></td>
        <td><%= distances.status %></td>
        <td><%= link_to 'Anzeigen', distances %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<h4> Legende: Status 0 = "Neue Anfrage" | Status 1 = "Zugeordnete Anfrage" | Status 2 = "Noch nicht zugeordnete Anfrage"
| Status 3 = "Endgültig nicht zugeordnete Anfrage" </h4>


