<% provide(:title, @request.name) %>

<% # Den das Modell des entsprechenden Kunden finden:

   @theclient = User.find_by_name(@request.name)

   # Die Request-Time "übersetzen"

   time = @request.time

   if time == "morning"
     germantime = "Morgens"
   elsif time == "noon"
     germantime = "Mittags"
   elsif time == "afternoon"
     germantime = "Nachmittags"
   elsif time == "evening"
     germantime = "Abends"
   end

   # Das Datum "übersetzen"

   date = @request.date
   datesplitted = date.split("-")
   year = datesplitted[0]
   month = datesplitted[1]
   day = datesplitted[2]

   thedate = day + "." + month + "." + year

%>

<div align="center" class="centeredtable">

  <h1>Daten zum Auftrag</h1>

  <h3><%= thedate %> <%= germantime %></h3>

  <br>

  <!-- Bewertung für diese Nanny angeben -->

  <% if client? or admin? and @request.date.to_date.past? == true and @request.ratingdone != true and @request.status==1 %>

      <h2>Wie zufrieden warst du mit deiner Nanny?</h2>

      <h4>(5 = sehr gut, 1 = sehr schlecht)</h4>


      <%= link_to "1", {:controller => "nannies", :action => "rate_nanny", :newrating => 1, :nannyname => @request.assigned_nanny, :requestid => @request.id}, class: "rateingcard" %>

      <br>
      <%= link_to "2", {:controller => "nannies", :action => "rate_nanny", :newrating => 2, :nannyname => @request.assigned_nanny, :requestid => @request.id}, class: "rateingcard" %>

      <br>

      <%= link_to "3", {:controller => "nannies", :action => "rate_nanny", :newrating => 3, :nannyname => @request.assigned_nanny, :requestid => @request.id}, class: "rateingcard" %>
      <br>

      <%= link_to "4", {:controller => "nannies", :action => "rate_nanny", :newrating => 4, :nannyname => @request.assigned_nanny, :requestid => @request.id}, class: "rateingcard" %>
      <br>

      <%= link_to "5", {:controller => "nannies", :action => "rate_nanny", :newrating => 5, :nannyname => @request.assigned_nanny, :requestid => @request.id}, class: "rateingcard" %>

      <br>
      <br>
      <br>

  <% end %>

  <% if @request.date.to_date.past? == true and @request.ratingdone == true %>

      <h2>Die Nanny wurde bei diesem Auftrag mit <%= @request.ratingvalue %> bewertet.</h2>
      <br>

  <% end %>

  <h3>Daten des Kunden</h3>

  <div class="profilcard">Name</div>
  <div class="profilcard"><%= @request.name %></div>
  <br>
  <div class="profilcard">Stadt</div>
  <div class="profilcard"><%= @theclient.city %></div>
  <br>
  <div class="profilcard">Straße</div>
  <div class="profilcard"><%= @theclient.street %></div>
  <br>
  <br>

  <% @currentnanny = Nanny.find_by_name(@request.assigned_nanny) %>

  <h3>Zugeordnete Nanny</h3>
  <% if @request.assigned_nanny == nil %>

      <div class="profilcard-nonanny">Noch keine Nanny zugewiesen!</div>

  <% else %>


      <%

        if @currentnanny == nil %>

          <div class="profilcard"><%= @request.assigned_nanny %></div>

          <h4>Der Nanny-Account existiert nicht mehr. <br> (Daher können die Nanny-Daten nicht eingesehen werden)</h4>

      <% else %>

          <%= link_to @request.assigned_nanny, @currentnanny, class: "profilcard" %>

          <br>

          <!-- Sterne Bewertung Anzeigen -->

          <% numberofstars = @currentnanny.rating.to_i

             (1..numberofstars).each do |n| %>

              <span class="glyphicon glyphicon-star"></span>

          <% end

             numberofemptystars = 5 - numberofstars
             (1..numberofemptystars).each do |n| %>

              <span class="glyphicon glyphicon-star-empty"></span>

          <% end
             end

             end %>
  <br>

  <br>

  <h3>Gewünschte Nanny Daten</h3>

  <!-- Sterne Bewertung Anzeigen -->


  <% @currentnanny = @request %>

  <%
    numberofstars = @currentnanny.rating.to_i

    (1..numberofstars).each do |n| %>

      <span class="glyphicon glyphicon-star"></span>

  <% end

     numberofemptystars = 5 - numberofstars
     (1..numberofemptystars).each do |n| %>

      <span class="glyphicon glyphicon-star-empty"></span>

  <% end %>

  <br>
  <br>


  <div class="profilcard">Maximaler Preis</div>
  <div class="profilcard"><%= @currentnanny.willingness_to_pay.to_s + "0 €" %></div>
  <br>
  <div class="profilcard">Geschlecht</div>
  <div class="profilcard">
    <% if @currentnanny.sex == "w" %> Weiblich
    <% else
         if @currentnanny.sex == "m" %> Männlich
        <% else
             @currentnanny.sex == "egal" %> Keine Angaben
        <% end end %></div>
  <br>
  <div class="profilcard">Minimales Alter</div>
  <div class="profilcard"><%= @currentnanny.minage %></div>
  <br>
  <div class="profilcard">Maximales Alter</div>
  <div class="profilcard"><%= @currentnanny.maxage %></div>
  <br>
  <div class="profilcard">Ausbildung</div>
  <div class="profilcard">
    <% if @currentnanny.education == true %> Ja
    <% else %> Nein
    <% end %></div>
  <br>
  <div class="profilcard">Führerschein</div>
  <div class="profilcard">
    <% if @currentnanny.driverlicense == true %> Ja
    <% else %> Nein
    <% end %></div>
  <br>
  <div class="profilcard">Deutsch-Kenntnisse</div>
  <div class="profilcard">
    <% if @currentnanny.language_german == true %> Ja
    <% else %> Nein
    <% end %></div>
  <br>
  <div class="profilcard">Englisch-Kenntnisse</div>
  <div class="profilcard">
    <% if @currentnanny.language_english == true %> Ja
    <% else %> Nein
    <% end %></div>
  <br>
  <div class="profilcard">Spanisch-Kenntnisse</div>
  <div class="profilcard">
    <% if @currentnanny.language_spanish == true %> Ja
    <% else %> Nein
    <% end %></div>
  <br>
  <div class="profilcard">Polnisch-Kenntnisse</div>
  <div class="profilcard">
    <% if @currentnanny.language_polish == true %> Ja
    <% else %> Nein
    <% end %></div>
  <br>
  <br>
  <br>
  <%= link_to "Jetzt bezahlen", @request, class: "homebutton hvr-buzz-out hvr-fade" %>
  <br>
  <br>
  <br>
  <% if !nanny? %>
      <%= link_to "Auftrag bearbeiten", edit_request_path, class: "reqcard-grey hvr-fade" %>
      <br>
  <% end %>
  <%= link_to "Zurück", requests_path, class: "reqcard-grey hvr-fade" %>

  <br>


</div>
