@import "bootstrap-sprockets";
@import "bootstrap";
@import 'hover';


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */

.centeredtable {
  width: 50%;
  display: block;
  margin: auto;
}

@font-face {
  font-family: 'Lato';
  src:font-url('Lato-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Normal';
  src:font-url('Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  padding-top: 60px;
  font-family: Lato-Normal;

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: Lato;

}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
  font-family: Lato;

}

h3{
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #373737;
  font-family: Lato;

}

h4{
  font-size: 1em;
  letter-spacing: 0px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #373737;
  font-family: Lato;
}

h5{
  font-size: 1.3em;
  letter-spacing: 0px;
  font-weight: normal;
  color: #373737;
  font-family: Lato-Normal;

}



p {
  font-family: Lato;

  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  font-family: Lato;
  color: #727272;
  &:hover {
    color: #9f9f9f;
    text-decoration: none;
  }
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -0px;
  padding-top: 9px;
  font-family: Lato-Normal;
  &:hover {
    color: rgb(151, 153, 160);
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {

      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    font-family: Lato;

    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-family: Lato;

      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  /* float: left;
  margin-right: 10px;
  */
}

.gravatar-header {
   float: left;
  width: 11%;
  padding-top: 1px;


  margin-right: 9px;
}

.gravatar_edit {
  margin-top: 50px;
  margin-bottom: 70px;

}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
/* Users index */

.users {
  list-style: none;
  color: $gray;
  margin-left: 6px;
  text-decoration: none;
  font-family: Lato;

  a {
    margin-left: 6px;
    color: $gray;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: $gray-darker;
    }
  }
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/*  JUMBOTRON BG */
.bg {
  background: url('http://www.frg.ie/wp-content/uploads/Happy-mother-with-the-child-on-the-hands.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 500px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}
.bg2 {
  background: #ffffff;
  position: absolute;
  width: 100%;
  height: 500px; /*same height as jumbotron */
  top: 500px;
  left:0;
  z-index: -1;

}

.bg3 {
  background: #6a6a6a;
  position: absolute;
  width: 100%;
  height: 500px; /*same height as jumbotron */
  top: 1000px;
  left:0;
  z-index: -1;

}

.jumbotron {
  height: 500px;
  color: black;
  background:transparent;
  margin-top: 50px;
}

.jumbotron2 {
  height: 500px;
  color: black;
  background:transparent;
  margin-top: -60px;
}

.jumbotron3 {
  height: 500px;
  color: black;
  background:transparent;
  margin-top: -40px;
}

/* BUTTON */

.homebutton {
  background-color: rgba(28, 132, 181, 0.92);
  -moz-border-radius:42px;
  -webkit-border-radius:42px;
  border-radius:42px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Lato-Normal;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  border: none;
}
.homebutton:hover {
  background-color: rgba(69, 176, 209, 0.89);
  text-decoration:none;
  color:#ffffff;

}
.homebutton:active {
  position:relative;
  color:#ffffff;
  text-decoration:none;

}


.navbar{


  a {
    font-family:Lato-Normal;

    color: $gray;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: $gray-darker;
    }
  }

  li{
    margin-bottom: -1px;

    background-color: rgba(36, 36, 36, 0);
    cursor:pointer;
    color:#ffffff;
    font-family:Lato;
    font-size:14px;
    text-align: center;
    vertical-align: middle;

    text-decoration:none;
    border: none;
  }

  li:hover {
   /* background-color: #219ad4; */
    text-decoration:none;

  }

  li:active {
    background-color: #242424;
    text-decoration:none;

  }
}







