


/* Darstellung der Verfügbarkeiten bei Nannys */

.avacard {
  background-color:#5b91b6;
  margin-bottom: 2px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Lato;
  font-size:14px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  width: 170px;
  height: 40px;
  text-decoration:none;
}
.avacard:hover {
  background-color: #9799a0;
  text-decoration:none;
}
.avacard:active {
  position:relative;
  text-decoration:none;

}

.avacard-true {
  background-color:#4e9d7d;
  margin-bottom: 2px;

  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Lato;
  font-size:14px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  width: 80px;
  height: 40px;
  text-decoration:none;
}
.avacard-true:hover {
  background-color: #9799a0;
  text-decoration:none;
}
.avacard-true:active {
  position:relative;
  text-decoration:none;

}


.avacard-false {
  background-color: rgba(158, 49, 48, 0.69);
  margin-bottom: 2px;

  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Lato;
  font-size:14px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  width: 80px;
  height: 40px;
  text-decoration:none;
}
.avacard-false:hover {
  background-color: #9799a0;
  text-decoration:none;
  color:#ffffff;

}
.avacard-false:active {
  position:relative;
  text-decoration:none;
  color:#ffffff;


}


.avacard-yellow {
  background-color: rgba(158, 156, 31, 0.69);
  margin-bottom: 2px;

  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Lato;
  font-size:14px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  width: 80px;
  height: 40px;
  text-decoration:none;
}
.avacard-yellow:hover {
  background-color: #9799a0;
  text-decoration:none;
}

.avaselect {
  background-color:#5b91b6;
  margin-bottom: 2px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Lato;
  font-size:14px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  width: 400px;
  height: 50px;
  text-decoration:none;
}
.avaselect:hover {
  background-color: #9799a0;
  text-decoration:none;
}
.avaselect:active {
  position:relative;
  text-decoration:none;

}

.avacard-assigned {
  margin-bottom: 2px;

  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Lato;
  font-size:14px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  width: 80px;
  height: 40px;
  text-decoration:none;
  background: repeating-linear-gradient(
                  45deg,
                  rgba(158, 49, 48, 0.69),
                  rgba(158, 49, 48, 0.69) 10px,
                  #4e9d7d 10px,
                  #4e9d7d 20px
  );
}
.avacard-assigned:hover {
  background: repeating-linear-gradient(
                  45deg,
                  rgba(158, 49, 48, 0.69),
                  rgba(158, 49, 48, 0.69) 10px,
                  #9799a0 10px,
                  #9799a0 20px
  );
  text-decoration:none;
}
.avacard-assigned:active {
  position:relative;
  text-decoration:none;

}



.avacard-head {
  background-color: #373737;
  margin-bottom: 2px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Lato;
  font-size:14px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  width: 170px;
  height: 40px;
  text-decoration:none;
}
.avacard-head:hover {
  background-color: #9799a0;
  text-decoration:none;
  color:#ffffff;

}

.avacard-head-small {
  background-color: #373737;
  margin-bottom: 2px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Lato;
  font-size:14px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  width: 80px;
  height: 40px;
  text-decoration:none;

}
.avacard-head-small:hover {
  background-color: #9799a0;
  text-decoration:none;
  color:#ffffff;

}




.avacard-medium {
  background-color:#5b91b6;
  margin-bottom: 2px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Lato;
  font-size:14px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  width: 110px;
  height: 40px;
  text-decoration:none;
}
.avacard-medium:hover {
  background-color: #9799a0;
  text-decoration:none;
}
.avacard-medium:active {
  position:relative;
  text-decoration:none;

}

.avacard-head-medium {
  background-color: #373737;
  margin-bottom: 2px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Lato;
  font-size:14px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  width: 110px;
  height: 40px;
  text-decoration:none;
}
.avacard-head-medium:hover {
  background-color: #9799a0;
  text-decoration:none;
}

