@import 'hover';
/* Back Pulse */
@-webkit-keyframes hvr-back-pulse-own {
  50% {
    background-color:#5b91b6;
  }
}
@keyframes hvr-back-pulse-own {
  50% {
    background-color:#5b91b6;
  }
}
.hvr-back-pulse-own {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-back-pulse-own:hover, .hvr-back-pulse-own:focus, .hvr-back-pulse-own:active {
  -webkit-animation-name: hvr-back-pulse-own;
  animation-name: hvr-back-pulse-own;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #9799a0;
  background-color: #9799a0;
  color: white;
}



/* Fade */
.hvr-fade-own {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade-own:hover, .hvr-fade-own:focus, .hvr-fade-own:active {
  background-color: #9799a0;
  color: white;
}
