
.labeltext{
  color: #212121;
  font-family:Lato-Normal;
  font-size:16px;
  text-align: center;
  vertical-align: middle;
  display:inline-block;
}

.labeltext-light{
  color: #212121;
  font-family:Lato;
  font-size:16px;
  text-align: center;
  vertical-align: middle;
  display:inline-block;
}

