

/* Darstellung der Anfragen  */


.reqcard {
  background-color: rgba(212, 158, 65, 0.75);
  margin-bottom: 2px;

  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Lato;
  font-size:12px;
  text-align: center;
  vertical-align: middle;
  line-height: 26px;
  width: 160px;
  height: 26px;
  text-decoration:none;
}
.reqcard:hover {
  background-color: #9799a0;
  text-decoration:none;
}




.reqcard-grey {
  background-color: rgba(55, 55, 55, 0.75);
  margin-bottom: 2px;

  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Lato;
  font-size:12px;
  text-align: center;
  vertical-align: middle;
  line-height: 26px;
  width: 160px;
  height: 26px;
  text-decoration:none;
}
.reqcard-grey:hover {
  background-color: #9799a0;
  text-decoration:none;
}
