

.header-button{

  background-color: rgba(36, 36, 36, 0);
  cursor:pointer;
  color:#ffffff;
  font-family:Lato;
  font-size:14px;
  text-align: center;
  vertical-align: middle;

  text-decoration:none;
  border: none;
}

.header-button:hover {

  background-color: #2b4c68;
  text-decoration:none;
}

.header-button:active {
  background-color: #55a49a;
  text-decoration:none;

}