

.divcol-left {
  margin-left:      50px;
  border:  1px solid #9799a0; /* Chrome, Safari, Opera */
 /* border-left:        1px solid #9799a0; /* Firefox */
  column-rule: 1px solid lightblue;
  float: left;
  width: 45%;
  height: 300px;
  margin-bottom: 15px;
}

.divcol-right {
  margin-right:      50px;
  /* border-right:  1px solid #9799a0; /* Chrome, Safari, Opera */
  border:        1px solid #9799a0; /* Firefox */
  column-rule: 1px solid lightblue;
  float: right;
  width: 45%;
  height: 300px;
  margin-bottom: 15px;
}



.dashboard-card-large {
  background-color: #373737;
  margin-bottom: 2px;
  cursor:pointer;
  color:#ffffff;
  font-family:Lato;
  font-size:16px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  width: 170px;
  height: 40px;
  text-decoration:none;
  display: inline-block;
}

.dashboard-card-large:hover {
  background-color: #9799a0;
  text-decoration:none;
}

.dashboard-card-small {
  alignment: center;
  display: inline-block;

  background-color: #373737;
  margin-bottom: 2px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Lato;
  font-size:16px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  width: 90px;
  height: 40px;
  text-decoration:none;

}
.dashboard-card-small:hover {
  background-color: #9799a0;
  text-decoration:none;
}



.adminbigbutton {
  background-color: rgba(55, 55, 55, 0.69);

  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Lato;
  font-size:20px;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  width: 340px;
  height: 60px;
  text-decoration:none;
}
.adminbigbutton:hover {
  background-color: #9799a0;
  text-decoration:none;
}
.adminbigbutton:active {
  position:relative;
  text-decoration:none;

}


.adminsmallbutton {
  background-color: rgba(55, 55, 55, 0.69);

  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Lato;
  font-size:14px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  width: 200px;
  height: 40px;
  text-decoration:none;
}
.adminsmallbutton:hover {
  background-color: #9799a0;
  text-decoration:none;
}
.adminsmallbutton:active {
  position:relative;
  text-decoration:none;

}



.dashboarddiv{
  
  border-top: 1px solid #dfe2ec;
  padding-top: 50px;

  margin-top: 20px;
  margin-bottom: 30px;

}

