


.profilcard {
  background-color:#5b91b6;
  margin-bottom: 6px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Lato;
  font-size:18px;
  text-align: center;
  vertical-align: middle;
  line-height: 34px;
  width: 230px;
  height: 34px;
  text-decoration:none;
}
.profilcard:hover {
  background-color: #9799a0;
  text-decoration:none;
}



.rateingcard {
  background-color:#5b91b6;
  margin-bottom: 6px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Lato;
  font-size:18px;
  text-align: center;
  vertical-align: middle;
  line-height: 34px;
  width: 60px;
  height: 34px;
  text-decoration:none;
}
.rateingcard:hover {
  background-color: #9799a0;
  text-decoration:none;
}


span.glyphicon-star {
  font-size: 2.6em;
}

span.glyphicon-star-empty {
  font-size: 2.6em;
}

div.glyphicon-star {
  font-size: 1.8em;
}


.profilcard-nonanny {
  background-color:                   rgba(158, 49, 48, 0.69);
  margin-bottom: 6px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Lato;
  font-size:18px;
  text-align: center;
  vertical-align: middle;
  line-height: 34px;
  width: 300px;
  height: 34px;
  text-decoration:none;
}
.profilcard-nonanny:hover {
  background-color: #9799a0;
  text-decoration:none;
}
