
.content-ct {
	text-align: center;
}

.me-row {
	padding: 30px 0;
}
.row-title {
	font-weight: 400;
}
.feature {
	padding: 20px;
	margin-top: 30px;
}
.feature span {
	font-size: 5em;
    color: rgba(33, 154, 212, 0.92);
}



.contact {
    background-color: #3a3a3a;
    color: #fff;
    padding: 1em;
}
.contact h3 {
    margin-bottom: 30px;
}
.form-control {
    border: 3px solid #eee;
    background-color: #f9f9f9;
    box-shadow: none;
}
.form-control-feedback {
    top: 15px;
    right: 15px;
}
