<%= bootstrap_form_for(@availability, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-6") do |f| %>
    <% if @availability.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@availability.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @availability.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <h3><%=
      week_day = @availability.date.to_date.wday # Returns the day of week (0-6, Sunday is zero)
      I18n.t('date.day_names')[week_day]
    %>
      <%= @availability.date %>
    </h3>

    <%= f.form_group do %>

        <h3> Wann bist du an diesem Tag verfügbar? </h3>
        <h3>

          <% if @availability.morning != 2 %>
              <%= f.check_box :morning, label: "Morgens" %>
          <% else %>

              Morgens bereits gebucht
              <br>

          <% end %>

          <br>

          <% if @availability.noon != 2 %>
              <%= f.check_box :noon, icon: "road", label: "Mittags" %>
          <% else %>

              Mittags bereits gebucht

              <br>
          <% end %>

          <br>

          <% if @availability.afternoon != 2 %>
              <%= f.check_box :afternoon, icon: "road", label: "Nachmittags" %>
          <% else %>

              Nachmittags bereits gebucht
              <br>

          <% end %>

          <br>

          <%= if @availability.evening != 2
                f.check_box :evening, icon: "road", label: "Abends"
              else
                "Abends bereits gebucht"
              end %>
        </h3>
    <% end %>


    <%= f.form_group do %>
        <h4 align="center"> <%= f.submit "Bestätigen", class: "homebutton" %></h4>
    <% end %>

<% end %>