<% provide(:title, @availability.nannyname + " " + @availability.date) %>

<h1>Verfügbarkeiten bearbeiten</h1>

<%= render 'form' %>

<div align="center">
  <%= link_to "Zurück", {:controller => "availabilities", :action => "index",
                         :nannyname => @availability.nannyname }, class: 'reqcard-grey hvr-fade'%>

</div>


