<% provide(:title, 'Verfügbarkeiten') %>

<%
  # Wenn Admin drauf schaut andere Überschrift
  if admin? == false %>
    <h1>Meine Verfügbarkeiten</h1>
<% else %>
    <h1>Verfügbarkeiten für <%= params[:nannyname] %></h1>

<% end %>


<%
  if admin?
    nannyname = params[:nannyname]
  else
    nannyname = current_user.name
  end

%>
<br>

<!-- Überschriften -->
<div align="center">
  <div class="avacard-head">Name</div>
  <div class="avacard-head">Datum</div>
  <div class="avacard-head">Wochentag</div>

  <%= link_to "Morgens", {:controller => "availabilities", :action => "addtimes", :time => "morning", :nannyname => nannyname}, class: 'avacard-head-small' %>
  <%= link_to "Mittags", {:controller => "availabilities", :action => "addtimes", :time => "noon", :nannyname => nannyname}, class: 'avacard-head-small' %>
  <%= link_to "Nachmittags", {:controller => "availabilities", :action => "addtimes", :time => "afternoon", :nannyname => nannyname}, class: 'avacard-head-small' %>
  <%= link_to "Abends", {:controller => "availabilities", :action => "addtimes", :time => "evening", :nannyname => nannyname}, class: 'avacard-head-small' %>

  <div class="avacard-head"></div>
  <br>

  <% # Zunächst die Verfügbarkeiten sortieren
     @availabilities.order(:date) %>
  <% @availabilities.each do |availability| %>

      <div id="nannyname" class="avacard"><%= availability.nannyname %></div>
      <div id="date" class="avacard"><%= availability.date %></div>
      <div id="weekday" class="avacard"> <%=

        week_day = availability.date.to_date.wday # Returns the day of week (0-6, Sunday is zero)
        I18n.t('date.day_names')[week_day]

      %></div>

      <% if availability.morning == 1 %>
          <div id="freeava" class="avacard-true"></div>
      <% else
           if availability.morning == 2

             # Wenn Vergeben an dieser Stelle, soll die Fläche gleichzeit ein
             # Button sein, der direkt zum Request führt.

             @therequest = Request.find_by_date_and_time_and_assigned_nanny(availability.date, "morning", availability.nannyname)
      %>
              <%= link_to "", @therequest, class: "avacard-assigned" %>

          <% else %>
              <div class="avacard-false"></div>
          <% end %>
      <% end %>

      <% if availability.noon == 1 %>
          <div class="avacard-true"></div>
      <% else
           if availability.noon == 2

             @therequest = Request.find_by_date_and_time_and_assigned_nanny(availability.date, "noon", availability.nannyname)

      %>
              <%= link_to "", @therequest, class: "avacard-assigned" %>


          <% else %>
              <div class="avacard-false"></div>
          <% end %>
      <% end %>

      <% if availability.afternoon == 1 %>
          <div class="avacard-true"></div>
      <% else
           if availability.afternoon == 2

             @therequest = Request.find_by_date_and_time_and_assigned_nanny(availability.date, "afternoon", availability.nannyname)

      %>
              <%= link_to "", @therequest, class: "avacard-assigned" %>

          <% else %>
              <div id="busyava" class="avacard-false"></div>
          <% end %>
      <% end %>

      <% if availability.evening == 1 %>
          <div class="avacard-true"></div>
      <% else
           if availability.evening == 2

             @therequest = Request.find_by_date_and_time_and_assigned_nanny(availability.date, "evening", availability.nannyname)

      %>
              <a id="assignedava"><%= link_to "", @therequest, class: "avacard-assigned" %></a>

          <% else %>
              <div class="avacard-false"></div>
          <% end %>
      <% end %>

      <%= link_to 'Bearbeiten', edit_availability_path(availability), class: 'avacard' %>
      <br>
  <% end %>


  <!-- Unterschriften -->
  <div align="center">
    <div class="avacard-head"></div>
    <div class="avacard-head"></div>
    <div class="avacard-head"></div>
    <%= link_to "Löschen", {:controller => "availabilities", :action => "addtimes", :time => "morning", :nannyname => nannyname, m: "delete"}, class: 'avacard-false' %>
    <%= link_to "Löschen", {:controller => "availabilities", :action => "addtimes", :time => "noon", :nannyname => nannyname, m: "delete"}, class: 'avacard-false' %>
    <%= link_to "Löschen", {:controller => "availabilities", :action => "addtimes", :time => "afternoon", :nannyname => nannyname, m: "delete"}, class: 'avacard-false' %>
    <%= link_to "Löschen", {:controller => "availabilities", :action => "addtimes", :time => "evening", :nannyname => nannyname, m: "delete"}, class: 'avacard-false' %>
    <div class="avacard-head"></div>
    <br>
  </div>

  <br>
  Frei:
  <div style="margin-right: 8px;" class="avacard-true"></div>
  Keine Zeit:
  <div style="margin-right: 8px;" class="avacard-false"></div>
  Gebucht:
  <div style="margin-right: 8px;" class="avacard-assigned"></div>

</div>

