<p id="notice"><%= notice %></p>

<p>
  <strong>Nannyname:</strong>
  <%= @availability.nannyname %>
</p>

<p>
  <strong>Date:</strong>
  <%= @availability.date %>
</p>

<p>
  <strong>Morning:</strong>
  <%= @availability.morning %>
</p>

<p>
  <strong>Noon:</strong>
  <%= @availability.noon %>
</p>

<p>
  <strong>Afternoon:</strong>
  <%= @availability.afternoon %>
</p>

<p>
  <strong>Evening:</strong>
  <%= @availability.evening %>
</p>

<%= link_to 'Edit', edit_availability_path(@availability) %> |
<%= link_to 'Back', availabilities_path %>
