<footer class="footer">
  <small>

    EmergencyNanny (C) 2017  |  by PacziGebski

  </small>
  <nav>
    <ul>
      <li><%= link_to "Informationen",   about_path %></li>
      <li><%= link_to "Hilfe",   help_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
    </ul>
  </nav>
</footer>
