<header class="navbar navbar-fixed-top navbar-inverse">


  <div class="container">
    <%= link_to "EMERGENCY NANNY", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">

        <% if logged_in? == false %>
            <li class="hvr-underline-reveal"><%= link_to "Home", root_path %></li>
        <% end %>

        <% if admin? %>
            <li class="hvr-underline-reveal"><%= link_to "Dashboard", admin_controll_path %></li>
            <li class="hvr-underline-reveal"><%= link_to "Simulator", simulator_path %></li>
            <li class="hvr-underline-reveal">
              <%= link_to text_with_badge('Optimieren', Request.where("status = ? OR status = ?", 0, 2).count), admin_optimize_path %>
            </li>
            <li class="hvr-underline-reveal"><%= link_to "Nannys", nannies_path %></li>
            <li class="hvr-underline-reveal"><%= link_to "Aufträge", requests_path %></li>
            <li class="hvr-underline-reveal"><%= link_to "Neue Anfrage", new_request_path %></li>

        <% end %>

        <% if client? %>
            <li class="hvr-underline-reveal"><%= link_to "Meine Anfragen", requests_path %></li>
            <li class="hvr-underline-reveal"><%= link_to "Neue Anfrage", new_request_path %></li>
        <% end %>


        <% if nanny? %>
            <li class="hvr-underline-reveal"><%= link_to "Verfügbarkeiten", availabilities_path %></li>
            <li class="hvr-underline-reveal"><%= link_to "Meine Aufträge", requests_path %></li>
        <% end %>

        <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="text-align: left;">

                <%= gravatar_for_header current_user %>
                <%= current_user.name %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Mein Profil", current_user %></li>
                <% if admin? %>
                    <li><%= link_to "Alle Nutzer", users_path %></li>
                    <li><%= link_to "Alle Kunden", allclients_path %></li>

                <% end %>

                <% if nanny? %>
                    <li><%= link_to "Nanny-Daten", new_nanny_path %></li>
                <% end %>


                <li><%= link_to "Einstellungen", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path, method: "delete" %>
                </li>
              </ul>
            </li>
        <% else %>
            <li class="hvr-underline-reveal"><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
